body {
  background-image: url(./assets/vecteezy_pattern-with-geometric-elements-in-multicolored-tones_20561029.jpg);
  background-position: top left;
  background-repeat: no-repeat;
}

.container {
  background-color: #ddc88b;
  height: 50rem;
  width: 50rem;
  margin: auto;
  margin-top: 5rem;
}

.form {
  text-align: center;
}
